@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark: #050505;
    --color-light: #f5f5f5;
    --font-mono: "JetBrains Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-mono);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    line-height: 1.6;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: var(--color-light);
    font-weight: 600;
    transition: all 0.3s ease;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
}

.error-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--color-light);
    mix-blend-mode: difference;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.error-description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--color-light);
    mix-blend-mode: difference;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.actions {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

.btn {
    border: none;
    padding: 12px 30px;
    border-radius: 100px;
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease;
    mix-blend-mode: difference;
}

.btn:hover {
    text-shadow: 0 0 30px rgb(255, 255, 255, 0.5);
}

.btn-primary {
    color: var(--color-light);
}

.btn-secondary {
    color: var(--color-light);

}

.btn:active {
    transform: translateY(1px);
}

.icon {
    font-size: 300px;
    font-weight: 1000;
    height: 400px;
    margin-bottom: 20px;
    mix-blend-mode: difference;
    color: var(--color-light);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: var(--color-light);
    mix-blend-mode: difference;
}

@media (max-width: 600px) {
    .container {
        padding: 25px;
        margin: 20px;
    }

    .actions {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        max-width: 260px;
    }

    .icon {
        font-size: 200px;
        height: 300px;
    }
}